/* main模块-start */
.main {
    height: 456px;
}
.main_contents {
    float: right;
    width: 970px;
    height: 446px;
    margin-top: 10px;
}
.banner {
    position: relative;
    float: left;
    width: 710px;
    height: 100%;
    background-color: blue;
    background: url(../uploads/banner3.jpg) no-repeat left center;
}
.choose-car {
    position: absolute;
    bottom: 10px;
    left: 275px;
    width: 175px;
    height: 15px;
}
.choose-car ul li {
    float: left;
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    border: 1px solid #fff;
    border-radius: 50% 50%;
}
.choose-car ul li:first-child {
    background-color: #fff;
}
.sub-bar {
    float: right;
    width: 250px;
    height: 100%;
}
.service {
    float: right;
    width: 248px;
    height: 370px;
    /* height: 100%; */
    border: 1px solid #e8e8e7;
    overflow: hidden;

} 
.news_title {
    height: 32px;
    border-bottom: 1px dotted #e8e8e7;
    line-height: 32px;
    padding-left: 15px;
    font-size: 14px;
}
.news_title a {
    margin-left: 100px;
    /* vertical-align: bottom; */
}
.news_title i {
    font-family: 'icomoon';
    line-height: 36px;
}
.news_items {
    height: 125px;
    /* border-bottom: 1px solid #e8e8e7; */
}
.news_items ul li {
    height: 25px;
    margin: 0px 10px;
    line-height: 25px;
}
.app-list {
    width: 255px;
    height: 210px;
}
.app-list ul {
    position: relative;
}
.app-list ul li {
    float: left;
    width: 62px;
    height: 69px;
    border-right: 1px solid #e8e8e7;
    border-top: 1px solid #e8e8e7;
    text-align: center;
    overflow: hidden;
}
.app-list ul li a {
    line-height: 0px;
    text-align: center;
}
.app-icon {
    display: block;
    width: 20px;
    height: 25px;
    margin: 15px 25px 0px 22px;
}
.app-icon-money {
    background: url(../images/icons.png) -19px -15px;
}
.app-icon-fly {
    background: url(../images/icons.png) -82px -15px;
}
.fly-discount {
    position: absolute;
    top: 0px;
    left: 114px;
    width: 15px;
    height: 15px;
    background: url(../images/jian.jpg) no-repeat;
}
.ad {
    float: right;
    width: 100%;
    height: 70px;
    margin-top: 4px;
    background-color: black;
}
.ad img {
    width: 100%;
    height: 100%;
}
/* main模块-end */

/* 推荐模块-start */
.reconmend {
    height: 163px;
    background-color: red;
    margin-top: 10px;
}
.recom-title {
    float: left;
    width: 205px;
    height: 100%;
    background-color: #5c5251;
    text-align: center;
}
.recom-title img {
    margin-top: 30px;
}
.recom-title h3 {
    margin-top: 8px;
    font-size: 18px;
    color: #fff;
}
.recom-items {
    float: left;
}
.recom-items ul {
    float: left;
}
.recom-items ul li {
    float: left;
}
/* 推荐模块-end */

/* 楼层模块-start */
.ea-head {
    height: 30px;
    margin-top: 20px;
    border-bottom: 2px solid #c81623;
}
.ea-head h1 {
    float: left;
    line-height: 30px;
    font-size: 18px;
    color: #c81623;
}
.ea-head ul {
    float: right;
}
.ea-head ul li {
    float: left;
    line-height: 30px;
}
.ea-head ul li:first-child a {
    color: #c81623;
}
.ea-head ul li:nth-child(n+2)::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0px 12px;
    line-height: 30px;
    vertical-align: middle;
    background-color: #999999;
}
.ea-items {
    height: 360px;
    overflow: hidden;
}
.ea-items img:hover {
    margin-left: 10px;
}
.ea-items img {
    transition: all .5s;
}
.ea-items ul li {
    float: left;
}
.w209 {
    width: 209px;
    text-align: center;
}
.w209 ul li {
    float: left;
    width: 90px;
    height: 30px;
    margin: 0px 5px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #9c9898;
} 
.w209  img {
    width: 209px;
    height: 267px;
}
.w329 {
    width: 329px;
}
.w219 {
    width: 220px;
}
.w219 a img{
    border-right: 1px solid #d2d0d0;
    border-bottom: 1px solid #d2d0d0;
}

.w220-1 {
    width: 220px;
    border-bottom: 1px solid #d2d0d0;

}
.w220-2 {
    width: 222px;

}
.w220-2 a img{
    width: 220PX;
    height: 179px;
    border-left: 1px solid #d2d0d0;
    border-right: 1px solid #d2d0d0;
    border-bottom: 1px solid #d2d0d0;
}
/* 楼层模块-end */

/* 固定导航模块-start */
.fixed {
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -676px;
    width: 66px;
}
.fixed ul li {
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.fixed ul li:first-child {
    background-color: rgb(221, 27, 27);
}
.fixed ul li:first-child a {
    color: #fff;
}
.fixed ul li:hover {
    background-color: rgb(221, 27, 27);
}
.fixed ul li:hover a {
    color: #fff;
}
/* 固定导航模块-end */
