/* main模块-start */
.main {
    height: 456px;
}
.main_contents {
    float: right;
    width: 970px;
    height: 446px;
    margin-top: 10px;
}
.banner {
    float: left;
    width: 710px;
    height: 100%;
    background-color: blue;
    background: url(../uploads/banner1.jpg) no-repeat left center;
}
.sub-bar {
    float: right;
    width: 250px;
    height: 100%;
}
.service {
    float: right;
    width: 248px;
    height: 370px;
    /* height: 100%; */
    border: 1px solid #e8e8e7;
    overflow: hidden;

} 
.news_title {
    height: 32px;
    border-bottom: 1px dotted #e8e8e7;
    line-height: 32px;
    padding-left: 15px;
    font-size: 14px;
}
.news_title a {
    margin-left: 100px;
    /* vertical-align: bottom; */
}
.news_title i {
    font-family: 'icomoon';
    line-height: 36px;
}
.news_items {
    height: 125px;
    /* border-bottom: 1px solid #e8e8e7; */
}
.news_items ul li {
    height: 25px;
    margin: 0px 10px;
    line-height: 25px;
}
.app-list {
    width: 255px;
    height: 210px;
}
.app-list ul {
    position: relative;
}
.app-list ul li {
    float: left;
    width: 62px;
    height: 69px;
    border-right: 1px solid #e8e8e7;
    border-top: 1px solid #e8e8e7;
    text-align: center;
    overflow: hidden;
}
.app-list ul li a {
    line-height: 0px;
    text-align: center;
}
.app-icon {
    display: block;
    width: 20px;
    height: 25px;
    margin: 15px 25px 0px 22px;
}
.app-icon-money {
    background: url(../images/icons.png) -19px -15px;
}
.app-icon-fly {
    background: url(../images/icons.png) -82px -15px;
}
.fly-discount {
    position: absolute;
    top: 0px;
    left: 114px;
    width: 15px;
    height: 15px;
    background: url(../images/jian.jpg) no-repeat;
}
.ad {
    float: right;
    width: 100%;
    height: 70px;
    margin-top: 4px;
    background-color: black;
}
.ad img {
    width: 100%;
    height: 100%;
}
/* main模块-end */
